img{
    height: 300px;
    width: 300 px;
    /* border-radius:50%; */
}
h2 {
    font-size: 16px;
    color: #aaa;
    font-weight: 300;
    margin-bottom: 10px;
}
h1{
    font-weight: 700;
}
.link-button{
    text-decoration: none;
}